<div class="d-flex align-items-center">
  <h1 class="title">新規スケジュール作成</h1>
  <div class="ml-auto schedules__linkBox">
    <%= link_to 'スケジュール一覧', schedules_path, class:'btn btn-outline-dark' %>
  </div>
</div>

<%= render partial: 'form', locals: { schedule: @schedule } %>
