<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto schedules__linkBox">
    <%= link_to '一覧', schedules_path, class:'btn btn-outline-dark'%>
    <%= link_to '編集', edit_schedule_path, class: 'btn btn-outline-dark' %>
  </div>
</div>

<%= render partial: 'schedule', object: @schedule %>
