.schedules__table{
  tr:hover{
    cursor:pointer;
  }
}

.schedules__linkBox{
  a{
    margin: 0 8px;
  }
}

.deadline_text{
  margin-bottom: 0px;
}

.schedules__searchForm {
  display: inline-block;
}

.schedules__select {
  display: inline-block;
  width: auto;
}
